*{
	margin: 0px;
	padding: 0px;
}

.container {
  width: 1200px;
  height: 700px;
  border-style: solid;
  border-width: 1px;
}

.blokjudultabel{
	width: 345px;
	height: 70px;
	font-family: sans-serif;
	font-variant: bold;
	background-color: navy;
	margin-left: 70px;
	margin-bottom: 8px;
}

.tekstabel{
	padding-top: 10px;
	font-size: 22px;
	font-family: sans-serif;
	color: lightyellow;
	margin-left: 30px;
	margin-bottom: 20px;
}

/*tabel*/

table {
	margin-left: 60px;
	margin-top: 5;
	position: fixed;
	border: 2px solid grey;
	border-collapse: collapse;
}

thead {
	background-color: lightyellow;
	color: grey;
	margin: 0px;
}

th{
	font-family: sans-serif;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 50px;
}
thead, tr, th{
	border: 1px solid grey;
	padding bottom: 5px;
}




.trans{
	margin-top: 120px;
	margin-left: 60px;
	color: navy;
	font-family: sans-serif;
}

.garis {
	width: 350px;
	margin-left: 50px;
	color: black;
}

.garis2 {
	width: 300px;
	color: grey;
	margin-bottom: 5px;
}

.bulan{
	margin-top: 10px;
	margin-left: 50px;
	color: salmon;
	font-family: sans-serif;
}

.bintang{
	margin-top: 10px;
	margin-left: 90px;
	color: sienna;
	font-family: sans-serif;
	display: inline-block;
}

.awan {
	display: inline-block;
	color: navy;
	font-family: sans-serif;
}

.anakbintang {
	margin-top: 5px;
	margin-left: 90px;
	font-family: sans-serif;
}

.anakbulan {
	margin-left: 90px;
	font-family: sans-serif;

}

.anakbulan {
	margin-top: 5px;
	margin-left: 90px;
}



.tekskanan {
	float: right;
	margin-top: -590px;
	margin-right: 110px;
	color: darkblue;
	font-family: sans-serif;
}

.teksrute {
	float: right;
	margin-top: -350px;
	margin-right: -60px;
	color: navy;
	font-family: sans-serif;
}

.angkarute {
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 35px;
	font-weight: bolder;
	display: inline-block;
	color: crimson;
	font-family: sans-serif;
}

.angkabus {
	font-size: 100px;
	font-weight: strong;
	color: darkred;
	font-family: sans-serif;
}

.box {
	width: 200px;
	height: 85px;
	border-radius: 10px;
	background-color: moccasin;
	margin-left: -50px;
}

.teksbox {
	padding-left: 10px;
	padding-top: 10px;
	color: sienna;
	font-family: sans-serif;
	font-weight: bold;
}

.rute {
	margin-top: -100px;
	display: inline-block;
}

.image {
	margin-left: 90px;
	width: 5%;
	display: inline-block;
}


